/*
h1:left column menu button font

*/

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


.menu-bar {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-bar {
    display: block;
  }

  .leftColumn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none; /* Hidden by default, will be shown when menu button is clicked */
    background-color: white;
  }

  .rightColumnContainer {
    margin-top: 70px; /* Leave space for the menu bar */
  }
}



body {
  background-color: white;
  font-family: 'Manrope', sans-serif;
  }
  
  /* html{
    scroll-snap-type: y mandatory;
  } */
  
  .leftColumn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    overflow: hidden;
  }
  
  .homeButton{
    position: fixed;
    top:13px;
    right: 42px;
    font-size: 4vh;
    color: black;
  }
  
  .homeButton:active {
    background-color: black; 
  }
  
  .homeButton:hover {
    background-color: white; 
  }
  
  
  /* h1 {
    text-align: left;
    width: 72%;
    font-size: 3vh;
    color: #333;
    margin: 0;
    padding: 20px;
    letter-spacing: 2px;
  } */
  
  
  h2 {
    text-align: left;
    width: 72%;
    font-size: 5vh;
    color: pink;
    margin: 0;
    padding: 20px;
    letter-spacing: 2px;
  }
  
  
  h3{
    color: pink;
  }/* 
.toggleBox {
  */

  .toggle-button {
    background-color: white;
    /* padding: 10px 20px; */
    border: none;
    font-size: 26px;
    cursor: pointer;
    height: 6vh;
    width: 30vh;
    position: relative;
    top:100px;
  }
  

  .toggle-button h1 {
    display: inline;
    position: relative;
    text-decoration: none;
  }
  
  .toggle-button h1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .toggle-button:hover h1:before {
    background: black;
  }
    
  .rightColumn {
    display: none;
    background-color:white;
    position: fixed;
    left: 36vh;
    top: 7%;
    bottom: 0;
    width: 70%;
    overflow: hidden;
  }

    .active {
      display: block;
    }
    
    
    
    
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 1000; /* Ensures the overlay appears above other elements */
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out; /* Fade in/out animation */
    }
    
    .overlay.active {
      opacity: 1; /* Show the overlay when it has the .active class */
    }
    
    .overlay img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      transition: transform 0.2s; /* Changed animation to make it feel more immediate */
      cursor: pointer; /* Changes cursor to pointer when hovering over image */
    }
    
    .clickableImage {
      cursor: pointer;
    }
    
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #39FF14; /* Neon green */
      font-size: 2em;
      background: none;
      border: none;
      cursor: pointer;
    }
    
    